/* Fixed styles */

.whitediv{
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
}

.blackdiv{
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: justify;
    color: white;
}

/* Personalized */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}


a{
    color: lightgoldenrodyellow; /* Change the text color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: line-through; /* Add underline on hover */
  }

.mbare:hover{
    text-decoration: underline;
}


.title{
  position: absolute;
  font-size: 10vw;
}

.medium{
    position: absolute;
    font-size: 5vw;
    width: 90%;
    
    
}

.logoimg{
    width: 25%;
    height: 50%;
}
