body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}
a{
    color: lightgoldenrodyellow; /* Change the text color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: line-through; /* Add underline on hover */
  }

.mbare:hover{
    text-decoration: underline;
}

.whitediv{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
  position: absolute;
  font-size: 10vw;
}
.blackdiv{
    height: 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: justify;
    color: white;
}
.medium{
    position: absolute;
    font-size: 5vw;
    width: 90%;
    
    
}

img{
    height: 50%;
    width: 15%;
}
